@model ForumQuestion;
@{
    ViewData["Title"] = "Add Forum Question";
}
<!DOCTYPE html>
<html>
    <head>
  
    </head>
    <body>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>

        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>

        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>


        <h4>Ask a question!</h4>
        <br />
        <p>
            Please provide all the relevant information that you can.
        </p>
        <br />
        <br />
        <form asp-controller="Forum" class="p-a-1" asp-action="post">
            <div asp-validation-summary="ModelOnly" style="background-color: red"></div>
            <label asp-for="Questioner">Your username:</label>
            <div><span asp-validation-for="Questioner"></span></div>
            <input class="form-control" asp-for="Questioner" />

            <label asp-for="QuestionHeader">Question Title:</label>
            <div><span asp-validation-for="QuestionHeader"></span></div>
            <textarea class="form-control" rows="2" asp-for="QuestionHeader"></textarea>

            <label asp-for="QuestionBody">Question Body:</label>
            <div><span asp-validation-for="QuestionBody"></span></div>
            <textarea class="form-control" rows="4" asp-for="QuestionBody"></textarea>
            <br />
            <button class="btn btn-primary" type="submit">
                Submit question
            </button>
        </form>

        <br />
        <br />
        <p>
            Go back to the <a href="/Forum/Forum">Forum</a>
        </p>


    </body>
</html>