@{
    ViewData["Title"] = "About the Tutors";
}
@{
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your tutors' awesome lives.</p>

<ul>
  <li>
    <div class="row">
        <div class="col-4">
            <figure>
                <img src="~/images/robotHead.jpg" />
                <figcaption>Tutor 1 is looking dapper.</figcaption>
            </figure>
        </div>
        <div class="col-8">
            <p>
                Mauris ligula nibh, volutpat nec dignissim ac, placerat nec arcu. In ornare
                leo diam, et faucibus felis tempor non. Vestibulum consectetur nunc vitae
                ultricies malesuada. Nullam id justo nec lectus feugiat gravida. Sed in euismod
                risus. Ut scelerisque nisl sapien, id lobortis urna maximus sed. Vivamus vel
                metus facilisis, mattis risus eget, laoreet dui. Fusce iaculis eros eget tortor
                tristique, pharetra ornare sapien tristique. In at leo condimentum, porta
                libero blandit, egestas ex. Fusce at orci turpis. Suspendisse maximus arcu
                dolor, a gravida felis accumsan vel. Praesent ac turpis molestie, sollicitudin
                diam in, tempor nisl. Quisque ornare justo ac fringilla congue. Aliquam
                tincidunt enim non velit gravida tincidunt.
            </p>
        </div>
    </div>
  </li>
  <li>
          <div class="row">
        <div class="col-4">
            <figure>
                <img src="~/images/robotHead.jpg" />
                <figcaption>Tutor 1 is looking dapper.</figcaption>
            </figure>
        </div>
        <div class="col-8">
            <p>
                Mauris ligula nibh, volutpat nec dignissim ac, placerat nec arcu. In ornare
                leo diam, et faucibus felis tempor non. Vestibulum consectetur nunc vitae
                ultricies malesuada. Nullam id justo nec lectus feugiat gravida. Sed in euismod
                risus. Ut scelerisque nisl sapien, id lobortis urna maximus sed. Vivamus vel
                metus facilisis, mattis risus eget, laoreet dui. Fusce iaculis eros eget tortor
                tristique, pharetra ornare sapien tristique. In at leo condimentum, porta
                libero blandit, egestas ex. Fusce at orci turpis. Suspendisse maximus arcu
                dolor, a gravida felis accumsan vel. Praesent ac turpis molestie, sollicitudin
                diam in, tempor nisl. Quisque ornare justo ac fringilla congue. Aliquam
                tincidunt enim non velit gravida tincidunt.
            </p>
        </div>
    </div>
  </li>
  <li>
          <div class="row">
        <div class="col-4">
            <figure>
                <img src="~/images/robotHead.jpg" />
                <figcaption>Tutor 1 is looking dapper.</figcaption>
            </figure>
        </div>
        <div class="col-8">
            <p>
                Mauris ligula nibh, volutpat nec dignissim ac, placerat nec arcu. In ornare
                leo diam, et faucibus felis tempor non. Vestibulum consectetur nunc vitae
                ultricies malesuada. Nullam id justo nec lectus feugiat gravida. Sed in euismod
                risus. Ut scelerisque nisl sapien, id lobortis urna maximus sed. Vivamus vel
                metus facilisis, mattis risus eget, laoreet dui. Fusce iaculis eros eget tortor
                tristique, pharetra ornare sapien tristique. In at leo condimentum, porta
                libero blandit, egestas ex. Fusce at orci turpis. Suspendisse maximus arcu
                dolor, a gravida felis accumsan vel. Praesent ac turpis molestie, sollicitudin
                diam in, tempor nisl. Quisque ornare justo ac fringilla congue. Aliquam
                tincidunt enim non velit gravida tincidunt.
            </p>
        </div>
    </div>
  </li>
</ul>


