@model List<Tutor>;

@{
    ViewData["Title"] = "About the Tutors";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your tutors' awesome lives.</p>

<ul>
    @foreach (Tutor tutor in Model)
    {
      <li>
        <div class="row">
            <div class="col-4">
                <figure>
                    <img src="~/images/robotHead.jpg" />
                    <figcaption>@tutor.Title</figcaption>
                </figure>
            </div>
            <div class="col-8">
                <p>
                    @{
                        string expertiseString = "";
                        foreach (string s in tutor.Expertise)
                        {
                            expertiseString += (" " + s + ",");
                        }
                    }
                    Tutor @tutor.UserName is available to help with
                    @expertiseString and is frequently updating our site.
                </p>
            </div>
        </div>
      </li>
    }

</ul>


