@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome</h1>
    <h4>The Tutors are here to help!</h4>
    <br /><br /><br />
    <p>The Tutor Forum began as a term project idea. It needed to be simple enough to achieve,
    and complex enough to apply everything that had been learned in the course thus far. As all
    good stories begin, I panicked. </p>
    <p>How was I going to be creative enough to make a web page? I needed to be responsible of a
    living breathing website? Eww. Gross. So I asked the people haunting Discord, 'Anyone have any ideas?',
    and from that a small voice cried, 'A tutor site'.</p>
    <p>I thought about it. Add keyword searches, re-use most of my previous examples. Win-win. Sure,
    Professor could nix the idea and I'd be back to square one, but why not? Making a baby algorithm to
    search for nouns sounds cool.</p>
    
    <br /><br /><br />
    <h6>Code of Conduct</h6>
    <p>Be constructive and kind or GTFO. You've been warned.</p>

</div>
