@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome</h1>
    <h3>The Tutors are here to help!</h3>
    <br /><br /><br />
    <h2>Welcome to your study community</h2>
    <br />
    <p>The Tutor Forum was created to provide students with supplementary resources for the most crucial programming concepts along their educational journey.  We have resources for the most frequently asked questions that tutors have been asked. We may have the answer you're looking for in our <a href="/Forum/KnowledgeBase">Knowledge Base</a>.</p>
    <p>We also have a homegrown community of students, members and enthusiasts collaborating and asking questions. Jump in and join the discussions over in our <a href="/Forum/Forum">Forum</a>!</p>

    <br /><br /><br />
    


</div>
