@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.HomePageTitle</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a class="navbar-brand" href="/Home/Index">FanSite</a>


         <ul class="nav justify-content-center">
             <li class="nav-item">
                 <a class="nav-link active" href="/Home/History">History</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="/Sources/Stories">Stories</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="/Sources/Sources">Sources</a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="/Admin/Index">Admin</a>
             </li>
         </ul>
    </nav>


    <div class="text-center autoCenterWide">
        <h3>A page on how awesome Stravinsky is</h3>
        <h4>And you are invited to the fan club</h4>
        <br />
        <p>
            First, there was Beethoven.  <small>There's a different fan club for him.</small>
        </p>
        <p>
            Next, there was this thing in the middle where composers just went and got all dramatic.
            <small>I'm looking at you, Wagner.</small>
        </p>
        <br /><br />
        <h5>
            Then, <i>FINALLY</i>, an artist, a musical poet, who changed how the world would hear music.
        </h5>
        <br />
        <p>
            Explore the life, impact, and music of Stravinsky
        </p>
        <a class="btn btn-primary" href="/Home/History">Learn More!</a>
        <br /><br />
        <p>
            Read fans' stories!
        </p>
        <a class="btn btn-primary" href="/Sources/Stories">Take me to the fans' page!</a>

    </div>

    

</body>
</html>
