
@model CommentViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Add a Comment</title>
</head>
<body>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

    <div class="text-center autoCenter">
        <h1>Comment for: </h1>
        <h3><em> @Model.StoryPost</em></h3>


        <form asp-controller="Sources" class="p-a-1" method="post">
            <div asp-validation-summary="ModelOnly" style="background-color: red"></div>
            <div class="form-group">
                <label asp-for="Name">Your name</label><br />
                <div><span asp-validation-for="Name"></span></div>
                <input class="form-control" asp-for="Name" /><br />
            </div>
            <div class="form-group">
                <label asp-for="CommentText">Your comment</label><br />
                <div><span asp-validation-for="CommentText"></span></div>
                <textarea class="form-control" rows="4" type="text" asp-for="CommentText"></textarea><br />
            </div>
            <div>
                <input type="hidden" asp-for="@Model.StoryPost" />
            </div>
            <br />
            <input type="submit" value="Enter" />
        </form>
    </div>
</body>
</html>