
@model String

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Add a Comment</title>
</head>
<body>
  
    <div class="text-center autoCenter">
        <h1>Comment for: </h1>
        <h3><em> @Model</em></h3>


        <form method="post">
            <div class="form-group">
                <label for="user">Your name</label><br />
                <input name="user" /><br />
            </div>
            <div class="form-group">
                <label for="commenttext">Your comment</label><br />
                <textarea rows="4" type="text" name="commenttext"></textarea><br />
            </div>

            <br />
            <input type="submit" value="Enter" />
        </form>
    </div>
</body>
</html>