@model String
@{
    ViewData["Title"] = "Add a Reply";
}

<div>
    <h4>Thanks for helping!</h4>
    <br />
    <p>
        The question is:
        <em>@Model</em>
        <br /><br />
        Please provide all the relevant information that you can. 
    </p>
   
    <form class="p-a-1" asp-action="post">
        <div class="form-group">
            <label for="responder">Your username:</label>
            <input required class="form-control" name="responder" />
        </div>
        <div class="form-group">
            <label for="replyBody">Response:</label>
            <textarea required class="form-control" rows="6" name="replyBody"></textarea>
        </div>
        <br />
        <button class="btn btn-primary" type="submit">
            Submit reply
        </button>
    </form>

    <br />
    <br />
    <p>
        Go back to the <a asp-action="/Forum/Forum">Forum</a>
    </p>
        
</div>