@{
    ViewData["Title"] = "Forum";
}
@{
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to the Jungle</p>
<br />
<p>
    Maecenas ipsum lacus, ornare ac nisi eget, finibus viverra quam. Sed at
    purus ac eros euismod volutpat. Quisque viverra mi nec eleifend convallis.
    Pellentesque in augue tristique, varius dui at, posuere turpis. Phasellus
    at metus vel nisi interdum ultrices eu vitae nulla. Fusce non dui non nisi
    malesuada gravida. Fusce est est, ullamcorper nec tellus quis, ultrices
    commodo arcu. Aenean iaculis at odio et venenatis. Sed interdum magna ex,
    nec consectetur nunc varius sed. Vivamus euismod consectetur arcu euismod
    mollis. Maecenas sagittis libero quam, sed congue risus porttitor et.
    Integer ac finibus turpis, eget venenatis risus.
</p>
<br />