@model List<IQuestion>
@{
    ViewData["Title"] = "Search Results";
}
@{
}
<h1>@ViewData["Title"]</h1>
<br />
<p>Results Found:</p>
<br /><br />
<div class="autoCenterWide">


    @foreach (IQuestion q in Model)
    {

        <table class=" table table-bordered ">
            <tr>
                <th><h5> @q.QuestionHeader</h5></th>
            </tr>
            <tr><td>@q.QuestionBody</td></tr>
            <tr><td>Date Added: @q.DateAdded.ToString("yyyy-MM-dd")</td></tr>
            @if (q is ForumQuestion)
            {
                <tr><td>Navigate to the <a href="/Forum/Forum">Forum</a></td></tr>
            } else
            {
                <tr><td>Navigate to the <a href="/Forum/KnowledgeBase">Knowledge Base</a></td></tr>
            }
        </table>

        <br /><br />
    }
</div>