@model List<FAQuestion>;
@{
    ViewData["Title"] = "Knowledge Base";
}
@{
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to the Library</p>
<br />
<p>
    This is some explanation of the FAQs and reasonableness on their order. 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
    ut labore et dolore magna aliqua. Etiam erat velit scelerisque in dictum non consectetur
    a. Nunc lobortis mattis aliquam faucibus purus in massa tempor nec. Suspendisse in est
    ante in nibh mauris cursus. Dictum sit amet justo donec enim diam vulputate ut pharetra.
    Scelerisque felis imperdiet proin fermentum leo vel orci. Lectus vestibulum mattis
    ullamcorper velit sed ullamcorper. At tempor commodo ullamcorper a lacus vestibulum
    sed. Pharetra massa massa ultricies mi. Nunc pulvinar sapien et ligula. Platea
    dictumst quisque sagittis purus sit amet volutpat. Sit amet mattis vulputate enim
    nulla aliquet porttitor lacus. Scelerisque purus semper eget duis at tellus at. Enim
    nulla aliquet porttitor lacus. Et sollicitudin ac orci phasellus egestas tellus.
</p><br /><br />

<div class="autoCenterWide">
    @foreach (FAQuestion faq in Model)
    {
        <table class=" table table-bordered ">
            <tr>
                <th><h5> @faq.FAQuestionTitle</h5></th>
            </tr>
            <tr><td>@faq.FAQAnswerBody</td></tr>
            <tr><td>Date Added: @faq.DateAdded.ToString("yyyy-MM-dd")</td></tr>

        </table>
                
        <br /><br />
    }
</div>
<br />
