@model List<FAQuestion>;
@{
    ViewData["Title"] = "Knowledge Base";
}
@{
}
<h1>@ViewData["Title"]</h1>

<br />
<p>
    The Knowledge Base is a library of explanations. From variables to production deployment, the Tutors have collected and compiled answers for questions students are most often faced with.
</p><br /><br />

<br /><br /><br />

<div class="autoCenterWide">
    @foreach (FAQuestion faq in Model)
    {
        <table class=" table table-bordered ">
            <tr>
                <th><h5> @faq.FAQuestionTitle</h5></th>
            </tr>
            <tr><td>@faq.FAQAnswerBody</td></tr>
            <tr><td>Date Added: @faq.DateAdded.ToString("yyyy-MM-dd")</td></tr>

        </table>
                
        <br /><br />
    }
</div>
<br />
