

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.HistoryTitle</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="text-center autoCenterWide">
        <h2>Stravinsky's History</h2>
        <br />
        <p>
            Igor Fyodorovich Stravinsky (/strəˈvɪnski/); 17 June 1882 – 6 April 1971, was a Russian-born composer, pianist, and conductor. He is widely considered one of the most important and influential composers of the 20th century.
        </p>

        <p>
            Stravinsky's compositional career was notable for its stylistic diversity. He first achieved international fame with three ballets commissioned by the impresario Serge Diaghilev and first performed in Paris by Diaghilev's Ballets Russes: The Firebird (1910), Petrushka (1911), and The Rite of Spring (1913). The latter transformed the way in which subsequent composers thought about rhythmic structure and was largely responsible for Stravinsky's enduring reputation as a musical revolutionary who pushed the boundaries of musical design. His "Russian phase" which continued with works such as Renard, the Soldier's Tale and Les Noces, was followed in the 1920s by a period in which he turned to neoclassicism. The works from this period tended to make use of traditional musical forms (concerto grosso, fugue and symphony), drawing on earlier styles, especially from the 18th century. In the 1950s, Stravinsky adopted serial procedures. His compositions of this period shared traits with examples of his earlier output: rhythmic energy, the construction of extended melodic ideas out of a few two- or three-note cells and clarity of form, and of instrumentation.
        </p>
        <br />
        <h2>Music</h2>
        <br />
        <h4>The Russian period</h4>
        <p>
            Aside from a very few surviving earlier works, Stravinsky's Russian period, sometimes called primitive period,
            began with compositions undertaken under the tutelage of Nikolai Rimsky-Korsakov, with whom he studied from
            1905 until Rimsky's death in 1908, including the orchestral works Symphony in E♭ major (1907), Faun and
            Shepherdess (for mezzo-soprano and orchestra; 1907), Scherzo fantastique (1908), and Feu d'artifice (1908/9).
            These works clearly reveal the influence of Rimsky-Korsakov, but as Richard Taruskin has shown, they also
            reveal Stravinsky's knowledge of music by Glazunov, Taneyev, Tchaikovsky, Wagner, Dvořák, and Debussy, among
            others.
        </p>
        <p>
            In 1908, Stravinsky composed Funeral Song (Погребальная песня), Op. 5 to commemorate the death of
            Nikolai Rimsky-Korsakov. The piece premiered 17 January 1909 in the Grand Hall of the Saint Petersburg
            Conservatory but was then lost until September 2015, when it resurfaced in a back room of the city's
            Conservatoire. It was played again for the first time in over a century on 2 December 2016. The rediscovery
            generated much enthusiasm and, as a result, over 25 performances are scheduled in 2017 and beyond.
        </p>
        <p>
            Performances in St. Petersburg of Scherzo fantastique and Feu d'artifice attracted the attention of Serge
            Diaghilev, who commissioned Stravinsky to orchestrate two piano works of Chopin for the ballet Les Sylphides
            to be presented in the 1909 debut "Saison Russe" of his new ballet company.
        </p>
        <p>
            The Firebird was first performed at the Paris Opéra on 25 June 1910 by Diaghilev's Ballets Russes. Like
            Stravinsky's earlier student works, The Firebird continued to look backward to Rimsky-Korsakov not only in
            its orchestration, but also in its overall structure, harmonic organization, and melodic content.
        </p>
        <p>
            According to Taruskin, Stravinsky's second ballet for the Ballet Russes, Petrushka, is where "Stravinsky at
            last became Stravinsky."
        </p>
        <p>
            The music itself makes significant use of a number of Russian folk tunes in addition to two waltzes by
            Viennese composer Joseph Lanner and a French music hall tune (La Jambe en bois or The Wooden Leg).
        </p>
        <p>
            In April 1915, Stravinsky received a commission from Winnaretta Singer (Princesse Edmond de Polignac) for a
            small-scale theatrical work to be performed in her Paris salon. The result was Renard (1916), which he
            called "A burlesque in song and dance". Renard was Stravinsky's first venture into experimental theatre:
            the composer's preface to the score specifies a trestle stage on which all the performers (including the
            instrumentalists) were to appear simultaneously and continuously.
        </p>
        <br />

        <h4>The Neoclassical period</h4>
        <p>
            Apollon musagète (1928), Perséphone (1933) and Orpheus (1947) exemplify not only Stravinsky's return to the
            music of the Classical period but also his exploration of themes from the ancient Classical world, such as
            Greek mythology. Important works in this period include the Octet (1923), the Concerto for Piano and Winds
            (1924), the Serenade in A (1925), and Symphony of Psalms (1930).
        </p>
        <p>
            In 1951, he completed his last neoclassical work, the opera The Rake's Progress to a libretto by W.H. Auden
            and Chester Kallman based on the etchings of William Hogarth. It premiered in Venice that year and was
            produced around Europe the following year before being staged in the New York Metropolitan Opera in 1953.
            It was staged by the Santa Fe Opera in a 1962 Stravinsky Festival in honor of the composer's 80th
            birthday and was revived by the Metropolitan Opera in 1997.
        </p>
        <br />

        <h4>The Serial period</h4>
        <p>
            In the 1950s, Stravinsky began using serial compositional techniques such as dodecaphony, the twelve-tone
            technique originally devised by Arnold Schoenberg. He first experimented with non-twelve-tone serial
            techniques in small-scale vocal and chamber works such as the Cantata (1952), the Septet (1953) and Three
            Songs from Shakespeare (1953). The first of his compositions fully based on such techniques was In Memoriam
            Dylan Thomas (1954). Agon (1954–57) was the first of his works to include a twelve-tone series and Canticum
            Sacrum (1955) was the first piece to contain a movement entirely based on a tone row. Stravinsky
            expanded his use of dodecaphony in works such as Threni (1958) and A Sermon, a Narrative and a Prayer
            (1961), which are based on biblical texts, and The Flood (1962), which mixes brief biblical texts from
            the Book of Genesis with passages from the York and Chester Mystery Plays.
        </p>
        <br />

    </div>



</body>
</html>